.container {
    color:#e3d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    background: rgb(49, 47, 62);
    /* background: radial-gradient(circle,rgb(49, 47, 62) 0%, #4a4a4a 65%);  */
  }
  .form-container {
    text-align: center;
  }

  .input-wrapper {
    margin: 1.5rem;
  }
  .input-wrapper input {
    height: 30px;
    width: 40px;
    padding: 4rem;
    background-color: #ffffff;
    color:#000000;
    border: none;
    border-radius: 40%;
    margin-right: 0.3rem;
    text-align: center;
    font-size: 14pt;
  }

  button {
    color:#efefef;
    font-size:0.8rem;
    padding: 0.5rem 1.2rem;
    border:none;
    border-radius:3rem;
    margin:0.2rem;;
    background:#0C0E1B;
    min-width: 80px;
    cursor: pointer;
  }