.deleteIcon{
    background-color: red;
   
}

.editIcon{
    color: black;
    background-color: yellow;
}

/* .startIcon{
    background-color: blue;
} */

/* .task{
    font-size: 20px;
} */

.toggledOn{
    text-decoration:line-through;
}