.taskList{
    text-align: right;
    float: right

}
.plusbutton{
    float: right
}

input, .submitTask {
    display: inline-block;
    /* aligned to each other and not the .wrapper */
    height: 100%;
    /* already was inline by dephault - but just to be clear */
    vertical-align: middle;
    margin: 10px;
    margin-right: 10px;
  }